body{
    font-family: Inter, sans-serif !important;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
}

h2, .navbar-brand {
    font-weight: 800;
}
pre {
    color: greenyellow;
}

.hero {
    min-height: 50vh;
    background-color: #ffffff;
    opacity: 0.8;
    background-image:  linear-gradient(#f4f4f4 1.5px, transparent 1.5px), linear-gradient(to right, #f4f4f4 1.5px, #ffffff 1.5px);
    background-size: 30px 30px;
}

.tech-icon {
    width: 6rem;
    margin-inline: 1rem;
}

.padding-y {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
}

.bg-custom {
    background-color: #ffffff;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 37.5px 37.5px, linear-gradient(#f4f4f4 3px, transparent 3px) 0 -1.5px, linear-gradient(90deg, #f4f4f4 3px, #ffffff 3px) -1.5px 0;
    background-size: 75px 75px, 75px 75px, 37.5px 37.5px, 37.5px 37.5px;
}